@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup-success, .popup-product {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-40 z-20;
}
.popup-success__body, .popup-product__body {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[400px] shadow-2xl p-10;
  content: '';
  animation: popup 0.5s ease;
}
.popup-success__body {
  @apply rounded-md  flex items-center justify-center h-[100px] bg-green-300 text-xl font-semibold;
}
.popup-product__body {
  @apply bg-sky-100 rounded-xl;
}
.popup-product__image {
  @apply w-40 h-40 mx-auto;
}
.popup__close-button {
  @apply absolute top-1 right-1 hover:opacity-60 p-2 text-lg;
  content: '';
}
.popup-row {
  @apply flex justify-between mt-2;
}
.popup-row__title {
  @apply capitalize font-semibold;
}
.popup-row__value {
  @apply opacity-80;
}
.popup-product__actions {
  @apply flex justify-around items-center mt-7;
}
.popup-product__link {
  @apply block basis-2/5 text-sky-900 text-sm text-center hover:scale-110 transition-transform duration-200;
}